
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.weather-icon {
  font-size: 2em;
  color: #ffeb3b; 
}

.heading {
  font-size: 3em;
  margin-bottom: 20px;
  color: #ffeb3b; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.input {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus {
  box-shadow: 0 0 10px #ffeb3b;
}

.button, .clear-history-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #03a9f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
}

.button:hover, .clear-history-button:hover {
  background-color: #0288d1;
  transform: translateY(-2px);
}

.weatherInfo {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.error {
  color: #e53935;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


.history {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
}

.history h3 {
  color: #ffeb3b;
  margin-bottom: 10px;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history li span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.history li span:hover {
  color: #ffeb3b;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: #e53935;
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.remove-button:hover {
  color: #c62828;
}
.clear-history-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.clear-history-button:hover {
  background-color: #d32f2f;
}
